.wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

  &-header {
    font-weight: 600;
    margin-bottom: 12px;
    color: #1c1c1c;
  }
}
