.wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

  color: black;
  &-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &-btn {
    width: 100%;
    padding: 10px;
    background: #3b82f6;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
}
