.CategoryCard {
  border: 1px solid rgb(67, 67, 67);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 8px;

  span {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    margin-top: 15px;
  }
  h6 {
    margin-top: 7px;
  }
}
