.quick-action-card {
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: start;
  color: #fff;
  width: 100%;
  gap: 12px;

  .icon {
    background: linear-gradient(135deg, #a855f7, #ec4899);
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2rem;
  }

  h4 {
    margin: 0;
    font-size: 1.1rem;
  }

  p {
    font-size: 0.75rem;
    opacity: 0.8;
    margin: 0;
    color: gray;
  }

  .link {
    color: #a855f7;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
    span {
    }
  }
}
