@use "../../style/variable" as var;
.trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-left {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      height: 50px;
      width: 50px;
      border-radius: 10px;
    }
    &-info {
      h2 {
        margin-bottom: 0px;
        color: var.$white;
        font-size: 1rem;
        font-weight: 500;
      }
      p {
        margin-top: 0;
        font-size: 0.9rem;
        font-weight: 400;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    gap: 20px;
    &-view {
      padding: 2px 20px;
      color: var.$white;
      font-size: 0.8rem;
      border-radius: 8px;
    }
  }
}

.trending:hover {
  background-color: #0b101a;
  cursor: pointer;
  padding: 9px;
  border-radius: 16px;
}
