@use "../../style/variable" as var;
.trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-left {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      height: 45px;
      width: 45px;
      border-radius: 10px;
    }
    &-info {
      h2 {
        margin: 0;
        color: var.$white;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: #797982;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #797982;
    gap: 20px;
    &-view {
      padding: 2px 20px;
      color: var.$white;
      font-size: 0.8rem;
      border-radius: 8px;
    }
  }
}

.trending:hover {
  background-image: linear-gradient(#2e1e42, #121118);
  cursor: pointer;

  border-radius: 16px;
}
