@use "../../style/variable" as var;
.artisst {
  padding: 25px;
  // background-color: #0f0f1a;
  color: #fff;
  font-family: "Arial", sans-serif;
  &-heading {
    h1 {
      font-size: 48px;
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
      font-size: 18px;
      color: #727272;
    }
    input {
      width: 50%;
      padding: 15px;
      border-radius: 8px;
      background-color: none;
    }
  }
  h2 {
    margin-bottom: 15px;
  }

  /* Trending Section */
  &-trending {
    &-cards {
      gap: 20px;

      padding-bottom: 10px;
      display: flex;

      &-card {
        flex: 0 0 300px;
        background: linear-gradient(135deg, #ff6ec4, #7873f5);
        border-radius: 12px;
        padding: 15px;
        color: #fff;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-info {
          h3 {
            margin: 0;
            font-size: 1.2rem;
          }

          p {
            margin: 5px 0;
            font-size: 0.9rem;
          }

          span {
            font-size: 0.8rem;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 2px 6px;
            border-radius: 10px;
          }
        }
      }
    }
  }

  /* Featured Artists Section */

  &-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
    gap: 20px;
    &-card {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 20px;
      &-circle {
        border: 1px solid white;

        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden; /* VERY important */
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover; /* fills the circle */
          object-position: center;
        }
      }
      p {
        margin-bottom: 0;
        margin-top: 0;

        color: var.$white;
        font-size: 20px;
        font-weight: 600;
      }
      span {
        color: var.$grey;
        font-size: 16px;
        font-weight: 600;
      }
    }
    &-card:hover {
      background-color: #111117;
      border-radius: 4px;
    }
  }
}
