.event {
  margin-top: 25px;
  button{
    width: 200px;
  }
   &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: white;
            font-size: 1.875rem;
      }
      p {
        border: 1px solid rgb(65, 65, 65);
        background-color: #0d1016;
        border-radius: 8px;
        padding: 5px;
        height: 25px;
      }
    }
  &-featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 14px;
    gap: 15px;
  }
  &-category-card {
   display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  &-category-card {
   display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  &-category-card-header {
    margin-top: 30px;
    color: white;
    font-size: 1.875rem;
  }
}
