@use "../../style/variable" as var;
.landing {
  width: 100%;
  margin-top: 25px;
  &-playlist {
    &-header {
      display: flex;
      justify-content: space-between;
      h3 {
        color: var.$white;
        font-size: 1.5rem;
      }
      p {
        border: 1px solid;
        border-radius: 8px;
        padding: 10px;
      }
    }
    &-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  &-player-layout {
    display: flex;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
    &-trending {
      width: 70%;
      height: fit-content;
      padding: 10px;
      border-radius: 16px;
      background-color: black;
    }
    &-recent {
      width: 30%;
      padding: 10px;
      border-radius: 16px;
      background-color: black;
    }
  }
}
