@use "../../style/variable" as var;
.landing {
  width: 100%;
  margin-top: 25px;
  &-playlist {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: var.$white;
        font-size: 1.875rem;
      }
      p {
        border: 1px solid;
        border-radius: 8px;
        padding: 5px;
        height: 30px;
      }
    }
    &-recommended-card {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
      .featuredCard {
        height: 255px;
        background-color: #0d1016;
        border: none;
      }
      .featuredCard__imageContainer img {
        height: 180px;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }

    &-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      .featuredCard {
        border-radius: 16px;
        border: none;
      }
      .featuredCard:hover {
        box-shadow: 0px 0px 6px 0px #d660c7;
      }
      .featuredCard__imageContainer img {
        height: 350px;
      }
      .featuredCard__content {
        padding: 7px;
        position: absolute;
        bottom: 0px;
        background: black;
        width: 100%;
        opacity: 0.5;
        height: px;
      }
      .featuredCard__playButton {
        display: none;
      }
      .featuredCard__title {
        margin-bottom: 0;
      }
    }
  }
  &-player-layout {
    display: flex;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    &-trending {
      width: 70%;
      height: fit-content;
      &-content {
        padding: 10px;
        border-radius: 16px;
        background-color: #161a22;
        border: 1px solid rgb(53, 53, 53);
      }
    }
    &-recent {
      width: 30%;
      &-content {
        padding: 10px;
        border-radius: 16px;
        background-color: #131720;
        border: 1px solid rgb(53, 53, 53);
      }
    }
  }
}
