@use "../../style/variable" as var;
.landing {
  width: 100%;
  margin-top: 25px;

  &-trending {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: var.$white;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
      }
      p {
        font-size: 16px;
        font-weight: 600;
        color: var.$grey;
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
    &-card {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
      .featuredCard {
        height: 255px;
        background-color: #0b0b0f;
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
      .featuredCard__imageContainer img {
        height: 175px;

        width: 175px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px 0 #fce1d266;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }

  &-artist {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: var.$white;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
      }
      p {
        font-size: 16px;
        font-weight: 600;
        color: var.$grey;
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
    &-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
      &-card {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        &-circle {
          border-radius: 50%;
          border: 1px solid white;
          overflow: hidden;
          height: 150px;
          width: 150px;
          img {
            width: 150px;
            height: 150px;
            margin-top: 10px;
          }
        }
        p {
          margin-bottom: 0;
          margin-top: 0;

          color: var.$white;
          font-size: 20px;
          font-weight: 600;
        }
        span {
          color: var.$grey;
          font-size: 16px;
          font-weight: 600;
        }
      }
      &-card:hover {
        background-color: #111117;
        border-radius: 4px;
      }
    }
  }
  &-playlist {
    &-header {
    }

    &-card {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
      .featuredCard {
        height: 255px;
        background-color: #0b0b0f;
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
      .featuredCard__imageContainer img {
        height: 175px;

        width: 175px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px 0 #fce1d266;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }

  &-player-layout {
    display: flex;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    &-recommended {
      width: 50%;
      height: fit-content;
      border: none;
      &-content {
        // display: grid;
        // grid-template-columns: repeat(1, 1fr);
        // border-radius: 16px;
        gap: 10px;
        // background-color: #111117;
        // border: 1px solid rgb(53, 53, 53);
        .featuredCard {
          height: 315px;
          background-color: #0b0b0f;
          border-radius: 8px;
          border: none;

          box-shadow: none;

          .featuredCard__imageContainer {
            height: 300px;
            img {
              height: 315px;
            }
          }

          .featuredCard__content {
            position: absolute;
            bottom: 0px;
            background: #0000008c;
            width: 100%;
            height: 50px;
          }
          .featuredCard__title {
            margin: 0;
          }
        }
      }
    }
    &-recent {
      width: 50%;
      &-content {
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #1f1f284c;
      }
    }
  }
}
