@use "../../style/variable" as var;
.merch {
  margin-top: 25px;
  &-category {
    &-card {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
    }
  }
  &-item {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: var.$white;
        font-size: 1.875rem;
      }
      p {
        border: 1px solid rgb(65, 65, 65);
        background-color: #0d1016;
        border-radius: 8px;
        padding: 5px;
        height: 25px;
      }
    }
    &-card {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      margin-bottom: 100px;
    }
  }
}
