.popular-track {
    display: grid;
    grid-template-columns: 30px 1fr 60px 30px 50px;
    align-items: center;
    padding: 15px 6px;
    border-bottom: 1px solid #2a2a2a;
    font-family: "Arial", sans-serif;
    color: #fff;
    border-radius: 5px;

    &:hover {
        background-color: #1a1a1a;
        cursor: pointer;
    }

    .hide {
        opacity: 0;
        transform: scale(0.5);
    }

    .show {
        opacity: 1;
        transform: scale(1);
    }


    .track-number {
        text-align: center;
        font-size: medium;
        color: #aaa;
    }

    .track-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .track-title {
            font-weight: normal;
            font-size: small;
        }

        .track-album {
            font-size: 12px;
            color: #888;
        }
    }

    .track-plays {
        text-align: right;
        font-size: small;
        color: #aaa;
    }

    .track-like {
        text-align: center;

        .liked {
            color: #1db954; // green like Spotify
            font-size: small;
        }

        .unlike {
            font-size: small;
        }
    }

    .track-duration {
        text-align: right;
        font-size: small;
        color: #aaa;
    }
}