.page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-statsRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &-graphRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &-bottomRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
