$gardient-color: linear-gradient(75deg, #6f2aab, #772081, #941d66);
$gardient-darkcolor: linear-gradient(75deg, #491659, #5f1b55, #200d1c);
$white: #ffffff;
// $primary-color: #08080c;
$primary-color: #0b0b0f;
$grey: rgb(180, 180, 180);
