@use "../../style/variable" as var;

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  h2 {
    color: white;
  }
  .carousel-track {
    display: flex;
   
     
   
    margin-left: 10px;
    margin-right: 26px;
       transition: transform 0.5s ease-in-out;
  }

  .carousel-card {
    // background-color: #545454;
    border-radius: 8px;
    padding: 16px;
    margin-right: 15px;
    
    color: var.$white;
    min-width: 25px;
    p{
      margin:0;
    }
    h2{
      margin: 0;
    }
  }

  .carousel-button {  
    position: absolute;
    top: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    button {
      pointer-events: all;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      border: none;
      width: 40px;
            height: 40px;
      padding: 1px ;
      cursor: pointer;
      font-size: 20px;
      border-radius: 50px;

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
