@use "../../style/variable" as var;

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  h2 {
    color: white;
  }
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-card {
    background-color: #545454;
    border-radius: 8px;
    padding: 16px;
    margin-right: 15px;
    text-align: center;
    color: var.$white;
    min-width: 25px;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    button {
      pointer-events: all;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 20px;
      border-radius: 5px;

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
