.artist-sidebar {
  padding: 20px;
  &-logo {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: 50px;
    }
    h3 {
      color: white;
      font-size: 1rem;
      margin: 0;
    }

    hr {
      margin-top: 20px;
      border: 0.5px solid #2c2f32;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: space-between;

    &-browse {
      h3 {
        padding-left: 15px;
        font-size: 0.8rem;
        color: #a9aeb3;
        font-weight: 500;
        margin-bottom: 0;
      }
      &-ul {
        padding: 0;
        list-style: none;
        margin: 0;
        &-list {
          padding: 0;
          &-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px 12px;
            border-radius: 16px;
            cursor: pointer;
            color: white;
            transition: background 0.2s ease;
            margin-top: 5px;
            span {
              font-size: 14px;
              margin-top: 1px !important;
            }
            &:hover {
              background-color: #1c132b;
            }

            &.active {
              background-color: #251836;
            }
          }
          li {
            display: flex;
            color: white;
            cursor: pointer;
            gap: 10px;
            align-items: center;
            font-weight: 400;
            cursor: pointer;

            span {
              font-size: 16px;
              margin-top: 15px;
            }
          }
        }
      }
    }

    hr {
      border: 0.5px solid #2c2f32;
    }
    &-profile {
      display: flex;
      justify-content: start;
      align-items: center;
      &-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgb(140, 140, 140);
        text-align: center;
      }
      &-info {
        margin-left: 10px;
        h3 {
          color: white;
          font-size: 1rem;
          margin: 0;
        }
        p {
          color: #a9aeb3;
          font-size: 0.8rem;
          margin: 0;
        }
      }
      &-logout {
        background-color: #141319;
        box-shadow: inset 2px 2px 12px 5px #000000;
        border-radius: 8px;
        padding: 15px;
        margin: 0;
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
        p {
          margin: 0;
        }
      }
    }
  }
}
