.artist-sidebar{
  padding: 20px;
    &-logo{

    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: 50px;
    }
    h3 {
      
      color: white;
      font-size: 1rem;
      margin: 0;
    }
  
    hr{
        margin-top: 20px;
        border: 0.5px solid #2c2f32;
    }
  }
  &-container{
      display: flex;
    flex-direction: column;
    height: 580px;
    justify-content: space-between;
 
  &-browse {

  h3 {
  padding-left: 5px;
  font-size: 0.8rem;
  color: #a9aeb3;
  font-weight: 500;
  margin-bottom: 0;
  }
  &-ul {
   padding: 0 15px;
  list-style: none;
  margin: 0;
  &-list {
   
      padding: 0;
      li {
        display: flex;
        color: white;
                gap: 10px;
        align-items: center;
        font-weight: 400;
        
        span{
          font-size: 16px;
          margin-top: 15px;
          
        }
      }
    }
}
  
}
    
hr{
               border: 0.5px solid #2c2f32;
    }
    button{

    }
    }
        }