.sidebar {
  padding: 20px;
  &-logo {

    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: 50px;
    }
    h3 {
      
      color: white;
      font-size: 1rem;
      margin: 0;
    }
  }
  &-browse {
   
    h3 {
      padding-left: 5px;
      font-size: 0.8rem;
      color: #a9aeb3;
      font-weight: 500;
      margin-bottom: 0;
    }
    &-ul {
       padding: 0 15px;
      list-style: none;
      margin: 0;
 &-list {
   
      padding: 0;
      li {
        display: flex;
        color: white;
                gap: 10px;
        align-items: center;
        font-weight: 400;
        
        span{
          font-size: 14px;
          margin-top: 15px;
          
        }
      }
    }
     
    }
    button{
      margin-top: 15px;
    }
 
   
  }
  &-upcomming {
    h1 {
      margin-top: 20px;
      font-size: 0.8rem;
      color: #a9aeb3;
      font-weight: 500;
    }
      .featuredCard__title{
        margin: 0px;
      }
       .featuredCard__subtitle { 
      font-size: 0.85rem;
      color: #ffffff;
      font-weight: 500;
      margin: 0;
    }
    .featuredCard__eventInfo{
      margin: 0px;
    }
    .featuredCard__eventFooter{
      margin: 0px;
    }
  }
  &-artist {
    h1 {
      font-size: 20px;

    }
 
  }
  &-merch {
    h1 {
      font-size: 0.75rem;
      color: #a9aeb3;
      font-weight: 500;
    }
  }
}
