@use "../../style/variable" as var;
.sidebar {
  padding: 5px;
  background-color: #121017;
  height: 98%;
  &-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;

    img {
      height: 30px;
    }
    h3 {
      color: white;
      font-size: 1rem;
      margin: 0;
    }
  }
  &-browse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93%;

    h3 {
      padding-left: 5px;
      font-size: 0.8rem;
      color: #a9aeb3;
      font-weight: 500;
      margin-bottom: 0;
    }
    &-ul {
      // padding: 0 15px;
      list-style: none;
      margin: 0;
      margin-right: 10px;
      padding: 0;
      &-list {
        padding: 10;
        &-item {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 8px 12px;
          border-radius: 16px;
          cursor: pointer;
          color: white;
          transition: background 0.2s ease;
          margin-top: 5px;
          span {
            font-size: 14px;
            margin-top: 1px !important;
          }
          &:hover {
            background-color: #1c132b;
          }

          &.active {
            background-color: #251836;
          }
        }
        &-active {
          background-color: #251836;
          color: #251836;
          border-radius: 16px;
          padding: 11px 0px 8px 9px;

          span {
            font-size: 14px;
            margin-top: 1px !important;
          }
        }
        li {
          display: flex;
          color: white;
          gap: 10px;
          align-items: center;
          cursor: pointer;
          font-weight: 400;

          span {
            font-size: 14px;
            margin-top: 15px;
          }
        }
      }
    }
    button {
      margin-top: 15px;
      width: 95%;
      margin-left: 4px;
    }
  }
  &-upcomming {
    h1 {
      margin-top: 20px;
      font-size: 0.8rem;
      color: #a9aeb3;
      font-weight: 500;
    }
    .featuredCard__title {
      margin: 0px;
    }
    .featuredCard__subtitle {
      font-size: 0.85rem;
      color: #ffffff;
      font-weight: 500;
      margin: 0;
    }
    .featuredCard__eventInfo {
      margin: 0px;
    }
    .featuredCard__eventFooter {
      margin: 0px;
    }
  }
  &-artist {
    h1 {
      font-size: 20px;
    }
  }
  &-merch {
    h1 {
      font-size: 0.75rem;
      color: #a9aeb3;
      font-weight: 500;
    }
  }
}
