.sidebar {
  padding: 20px;
  &-logo {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: 50px;
    }
  }
  &-browse {
    h3 {
      font-size: 0.75rem;
      color: #a9aeb3;
      font-weight: 500;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    &-list {
      margin-top: 15px;
      padding: 0;
      li {
        display: flex;
        color: white;
        gap: 10px;
        align-items: center;
        font-weight: 400;
        font-size: 0.875rem;
      }
    }
  }
  &-upcomming {
    h1 {
      font-size: 0.75rem;
      color: #a9aeb3;
      font-weight: 500;
    }
  }
  &-artist {
    h1 {
      font-size: 20px;
    }
  }
  &-merch {
    h1 {
      font-size: 0.75rem;
      color: #a9aeb3;
      font-weight: 500;
    }
  }
}
