.progress {
  margin-bottom: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 14px;
    color: #ccc;
  }

  &-bar {
    width: 100%;
    height: 8px;
    background: #1f1f2e;
    border-radius: 10px;
    overflow: hidden;

    &-fill {
      height: 100%;
      background: #a259ff;
      border-radius: 10px;
      transition: width 0.3s ease;
    }
  }
}
