.analytics {
  padding: 30px;

  color: white;
  min-height: 100vh;

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }

  &-track-list {
    width: 100%;
    gap: 25px;
  }

  // &-box {
  //   background: #151925;
  //   padding: 20px;
  //   border-radius: 12px;

  //   h3 {
  //     margin-bottom: 20px;
  //     color: #cfcfcf;
  //   }
  // }
}
