.analytics {
  padding: 30px;

  color: white;
  min-height: 100vh;

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    .stats-card {
      background-color: rgb(71 45 109 / 19%);
      box-shadow: inset 2px 2px 12px 5px #000000;
      border-radius: 8px;
    }
  }
  .chart-container {
    background-color: #141319;
    box-shadow: inset 2px 2px 12px 5px #000000;
    border-radius: 8px;
  }

  &-tracks {
    background-color: #141319;
    box-shadow: inset 2px 2px 12px 5px #000000;
    border-radius: 8px;
    padding: 15px;
    &-list {
      width: 100%;
      gap: 25px;
    }
  }

  // &-box {
  //   background: #151925;
  //   padding: 20px;
  //   border-radius: 12px;

  //   h3 {
  //     margin-bottom: 20px;
  //     color: #cfcfcf;
  //   }
  // }
}
