.earning {
  &-header {
    text-align: start;
    h2 {
      font-size: x-large;
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
      margin-top: 0;
      color: gray;
    }
  }

  &-overview {
    background-color: rgb(71 45 109 / 19%);
    box-shadow: inset 2px 2px 12px 5px #000000;
    border-radius: 8px;
    padding: 10px;

    margin: 20px 0 20px 0;
    h5 {
      text-align: center;
      .title {
        font-size: 20px;
      }
      .earning {
        font-size: 49px;
      }
    }
    &-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-bottom: 30px;
      .stats-card {
        background-color: rgb(71 45 109 / 19%);
        box-shadow: inset 2px 2px 12px 5px #000000;
        border-radius: 8px;

        .stats-title {
          font-size: 0.8rem;
          opacity: 0.7;
          margin: 0;
        }
        .stats-value {
          margin: 30px 0 0;
        }
        .stats-change {
          margin: 0;
        }
      }
    }
  }
  &-analytics-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    &-box {
      padding: 20px;
      background-color: #141319;
      box-shadow: inset 2px 2px 12px 5px #000000;
      border-radius: 8px;
      height: 320px;

      h3 {
        margin: 0;
      }
      &-chart {
        display: flex;
        justify-content: center;
      }
    }
  }
  &-analytics-box {
    background-color: #141319;
    box-shadow: inset 2px 2px 12px 5px #000000;
    border-radius: 8px;
    padding: 20px;
  }
  &-trend {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #141319;
    box-shadow: inset 2px 2px 12px 5px #000000;
    border-radius: 8px;
  }
}
