@use "../../style/variable" as var;
.button-gradient {
  background-image: var.$gardient-color;
  box-shadow: 2px 10px 10px 0px #50375a;
  color: white;
  width: 100%;
}
.button-darkgradient {
  background-image: var.$gardient-darkcolor;
  box-shadow: 2px 1px 10px 0px #0f0d10;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  width: 100%;
}
.button-active {
  background-color: #0d1016;
  color: white;
  width: 100%;
}
.button-not-active {
  border: none;
  background: none;
  color: #9aa9bd;

  width: 100%;
}
.button-light {
  background-color: #28132c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  width: 100%;
}

.button-white {
  background-color: #ffffff;
  color: #3c83f6;
  width: 100%;
}
.button-border {
  background-color: #0d1016;
  border: 1px solid #303030;
  color: white;
  width: 100%;
}
