.button-gradient {
  background-image: linear-gradient(75deg, #477af4, #8c38ea, #dd63c3);
  box-shadow: 2px 10px 10px 0px #50375a;
  color: white;
  width: 100%;
}
.button-active {
  background-color: #0d1016;
  color: white;
  width: 100%;
}
.button-not-active {
  border: none;
  background: none;
  color: #9aa9bd;
  width: 100%;
}

.button-white {
  background-color: #ffffff;
  color: #3c83f6;
  width: 100%;
}
.button-border {
  background-color: #0d1016;
  border: 1px solid #303030;
  width: 100%;
}