@use "../style/variable" as var;
.userLayout {
  background-color: var.$primary-color;
  display: flex;

  /* Webkit browsers */
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #572a8a9a;
  }
  &::-webkit-scrollbar-thumb {
    background: #572a8a; /* uses your variable */
    border-radius: 5px;
  }

  //   &::-webkit-scrollbar-thumb:hover {
  //     background: lighten(var.$primary-color, 10%);
  //   }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #572a8a #222;
  &-musicPlayer {
    position: fixed;
    background-color: var.$primary-color;
    height: 90px;

    bottom: 0;
    width: 100%;
    z-index: 10;
  }

  &-left {
    height: 88vh;
    overflow: auto;
    width: 15%;
    border-right: 1px solid #3f3f3f;
  }
  &-right {
    height: 88vh;
    overflow-y: auto;
    width: 85%;
    padding: 0 15px;
  }
}
